/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

div::-webkit-scrollbar-track {
    background-color: transparent;
}

div::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

div::-webkit-scrollbar-thumb {
    background-color: #2E2E2E;
}

body {
    @apply bg-background;
}